<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nabla&display=swap" rel="stylesheet">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        .image-item {
            position: relative;
        }

        .image-info {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 5px;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            font-size: 0.9rem;
            width: 100%;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div class="images-container row">
        {% for image in images %}
        <div class="image-item" data-col-span="{{ image.col }}" style="grid-column-start: {{ image.start_col }};">
            <img src="{{ url_for('static', filename='dataset_images/' + image.filename) }}" class="image img-fluid"
                alt="{{ image.title }}">
            <div class="image-info">
                <p class="text-left mb-0">{{ image.title }} by {{ image.artist }}</p>
            </div>
        </div>
        {% endfor %}
    </div>    
    
    <script>
        function createRandomLayout() {
            var container = document.querySelector('.images-container');
            var items = Array.from(container.querySelectorAll('.image-item'));
    
            items.forEach(function (item) {
                var colSpan = parseInt(item.getAttribute('data-col-span'), 10);
                item.style.gridColumnEnd = 'span ' + colSpan;
            });
        }
        window.addEventListener('DOMContentLoaded', createRandomLayout);
    </script>
</body>

</html>
-->

<html>
  <head>
    <title>Met Museum Collection</title>
  </head>
  <body>
    <h1>Met Museum Collection</h1>
    <img src="{{ image_url }}"/>
  </body>
</html>
