<!doctype html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MET Museum Gallery</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/themes.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container" style="margin: auto">
        <nav>
            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-12 d-flex justify-content-between">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="gallery-tab" data-bs-toggle="tab"
                                data-bs-target="#gallery" type="button" role="tab" aria-controls="home"
                                aria-selected="true">Gallery</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="about-tab" data-bs-toggle="tab" data-bs-target="#about"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">About</button>
                        </li>
                    </ul>
                    <!-- Theme toggle button -->
                    <button id="theme-toggle" class="btn theme-toggle">
                        <img src="{{ url_for('static', filename='icons/changeTheme.svg') }}" alt="Toggle Theme"
                            width="24" height="24" id="theme-icon">
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
                            <div class="col-md-12" style="padding: 1rem">
                                <form action="/search" method="get"
                                    class="d-flex align-items-center justify-content-between">
                                    <div class="col-md-12 title-form-container">
                                        <h1 class="col-md-4">MET Museum Gallery</h1>
                                        <div class="col-md-4">
                                            <!-- Empty column -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane" id="about" role="tabpanel" aria-labelledby="about-tab">
                            <div class="col-md-4">
                                <div class="card-body" style="min-width: 50%; padding-top: 4rem">
                                    <h2 class="card-title">Objects on plain background</h2>
                                    <p class="card-text">
                                        This website was born from a designer's
                                        frustration while searching for copyright free, high-resolution images of
                                        interesting
                                        objects set against simple backgrounds. The internet seemed to lack such
                                        a resource, and here it is for you to explore. Delve into <a
                                            href="https://www.metmuseum.org/" target="_blank"
                                            rel="noopener noreferrer">Metropolitan Museum of Art</a>
                                        collection, which includes contemporary masterpieces, ageless classics,
                                        and a wide array of artistic treasures. Welcome to the MET Gallery!
                                    </p>
                                    <p>
                                        Please note that this is not an official website of the MET. For
                                        any inquiries, feel free to reach out to me at woshibide@gmail.com
                                    </p>
                                    <p>
                                        <a href="https://gitlab.com/woshibide/met-museum-navigator" target="_blank"
                                            rel="noopener noreferrer"> Contribute
                                            to the project</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="row sticky-search">
            <!-- AAAAAAAAAAAAAAAAAAAAA -->
            <button id="minimize-search" class="btn minimize-button">
                <object id="chevron-left-icon" type="image/svg+xml" data="{{ url_for('static', filename='icons/chevronLeft.svg') }}" width="24" height="24">Minimize search</object>
            </button>
        
            <div class="col-md-12 search-container">
                <div class="badges-container">
                    {% for title in title_words %}
                    <span class="badge badge-secondary">{{ title }}</span>
                    {% endfor %}
                </div>
                <form action="/search" method="get" class="search-form">
                    <div class="input-group rounded-input-group">
                        <input class="form-control mr-sm-2 search-input" type="text" id="search_query"
                            name="search_query" placeholder="For example: {{ title_words|join(', ') }}"
                            aria-label="Search" required>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>



        <div style="margin-top: 50vh">
            <div class="image-container">
                {% for item in items_with_col %}
                <div class="image-item"
                    style="grid-column-start: {{ item.start_col }}; grid-column-end: span {{ item.col }};">
                    <a href="{{ item.url }}" target="_blank">
                        <img id="image-{{ loop.index }}" src="{{ item.url }}" class="card-img-top"
                            alt="MET Museum Collection">
                    </a>
                    <p> {{item.title}} </p>
                </div>
                {% endfor %}
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <footer>
            <div class="col-4      ">
                <h6>woshibide, 2023</h6>
            </div>
        </footer>
    </div>

    <!-- spinner  -->
    <div id="spinner-container">
        <div id="loading-spinner" class="spinner-border custom-spinner d-none" style="width: 47vw; height: 47vw;"
            role="status"></div>
        <span id="spinner-text" class="visually-hidden d-none">fetching images...</span>
    </div>
    <button id="go-to-top" class="btn go-to-top d-none">
        <img src="{{ url_for('static', filename='icons/arrowUp.svg') }}" alt="Go to top" width="24" height="24">
    </button>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.min.js"></script>
    <script>
        $(function () {
            $('.lazy').Lazy();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script>
        const minimizeButton = document.getElementById('minimize-search');
        const stickySearch = document.querySelector('.sticky-search');
        const searchForm = document.querySelector('.search-form');
        let isMinimized = false;
        
        minimizeButton.addEventListener('click', () => {
            isMinimized = !isMinimized;
        
            if (isMinimized) {
                stickySearch.classList.add('minimized');
                minimizeButton.innerHTML = `<img src="{{ url_for('static', filename='icons/chevronRight.svg') }}" alt="Maximize search" width="24" height="24">`;
            } else {
                stickySearch.classList.remove('minimized');
                minimizeButton.innerHTML = `<img src="{{ url_for('static', filename='icons/chevronLeft.svg') }}" alt="Minimize search" width="24" height="24">`;
            }
        });
         
    </script>



</body>

</html>