
{% extends "base.html" %}


{% block content %}
    <div class="image-container">
        {% for item in items_with_col %}
        <div class="image-item" style="grid-column-start: {{ item.start_col }}; grid-column-end: span {{ item.col }};">
            <a href="{{ item.url }}" target="_blank">
                <img src="data:image/jpeg;base64,{{ item.filename }}" />
            </a>
            <p class="text-left mt-2">{{ item.title }}</p>  
        </div>
        {% endfor %}
    </div>    
{% endblock content %}