{% extends "base.html" %}
{% block content%} 
    <h1>Search the Met Museum Collection</h1>
    <form action="/search" method="get">
        <label for="search_query">Title:</label>
        <input type="text" id="search_query" name="search_query" placeholder="Andiron" required>
        <br>
        <label for="count">Number of images:</label>
        <input type="number" id="count" name="count" min="1" max="5000" value="10" placeholder="10" required>
        <br>
        <input type="submit" value="Search">
    </form>
{% endblock %}