html{
    font-size: 16px;
}

/* Fonts and Headings */
h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: 'Libre Caslon Text', serif;
}

h1 {
    font-family: 'Libre Caslon Display', serif;
    font-size: 12.5vw;
    font-kerning: auto;
    line-height: 92%;
}

p {
    font-family: 'Mulish', sans-serif;
    font-size: 0.875rem;
}
.example-text {
    font-family: 'Libre Caslon Text', serif;
    font-style: italic;
}





a:not(:has(> img)) {
    background-color: #007bff;
    color: #fff;
    padding-inline: 0.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
}

a:not(:has(> img))::after {
    content: "→";
    margin-left: 0.25rem;
}

  
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.container{
    background-color: inherit;
    color: inherit;
}

.sticky-search {
    position: -webkit-sticky;
    position: sticky;
    top: 1.875rem;
    z-index: 1000;
    margin-inline: 0;
    transition: width 0.3s ease-in-out;
    height: 60px; /* Adjust this value based on your desired height */
}

.sticky-search::before {
    content: "";
    background-color: var(--transparent-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    z-index: -1;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.sticky-search.minimized {
    width: calc(100% / 12 * 1 ); 
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}


.search-form {
    display: flex;
    justify-content: flex-end;
    margin-block: 0.5rem;
    width: 50%; /* Set width to 50% */
}

.badges-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin-inline: 1rem;
}

.badge {
    font-family: 'Space Mono', monospace;
    font-size: 0.75rem;
    line-height: 1.5;
    margin-right: 5px;
    border-radius: 1rem;
    background-color: var(--opposite-transparent-color);
    color: var(--bg-color);
    font-weight: normal;
    padding: 0.35rem 0.75rem;
}


/* Input form and placeholder */
.form-control {
    font-family: 'Space Mono', sans-serif;
    color: var(--text-color);
}
.form-control::placeholder {
    font-family: 'Space Mono', monospace;
    font-size: 0.875rem;
    color: var(--text-color);
    opacity: 0.3;
}
.search-input {
    border: 1px solid var(--opposite-transparent-color);
    box-sizing: border-box;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--bg-color);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search-input:focus {
    border: 1px solid var(--opposite-transparent-color);
    background-color: var(--opposite-transparent-color);
    /* outline: 0; */
    box-shadow: none;
    color: var(--bg-color);
}
.search-input:focus::placeholder {
    opacity: 0;
}
.title-form-container {
    margin-top: 1.875rem;
    z-index: 2001;
    display: flex;
    align-items: center;
    gap: 1rem;
}


.input-group {
    border-radius: 0.25rem;
    overflow: hidden;
    width: calc(50% - 10px);
}
.rounded-input-group {
    position: relative;
    width: calc(100% - 2.5rem); /* Set width to 100% minus the button width */
}
.rounded-input-group::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* border: 1px solid var(--border-color); */
    border-radius: 0.25rem;
    pointer-events: none;
    z-index: -1;
}
.rounded-input-group .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.rounded-input-group .input-group-append .btn {
    border: 1px solid transparent;
    padding-inline: 2.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.tab-content {
    position: relative;
}

.nav-tabs {
    position: relative;
    z-index: 2000;
    border: none; /* ANNOYING BOTTOM LINE FROM NAV IS HERE <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
}

.nav-tabs .nav-link {
    font-family: 'Mulish', sans-serif;
    color: var(--hover-color);
    border: none;
}
.nav-tabs .nav-link:hover {
    color: var(--text-color);
}

.nav-tabs .nav-link.active {
    color: var(--text-color);
    background-color: var(--bg-color);
}

.btn-primary {
    font-family: 'Libre Caslon Text', serif;
    background-color: var(--text-color);
    border-color: var(--text-color);
    color: var(--bg-color);
}
.btn-primary:hover {
    background-color: var(--accent-color);
    border-color: var(--text-color);
}

.tab-content {
    position: absolute;
    z-index: 1000;
}

.card {
    position: absolute;
    z-index: 1;
}
.card-text{
    padding-top: 0.875rem;
}



/* layout */
.image-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 1rem;
    gap: 1rem;
}

.image-item {
    position: relative;
    width: 100%;
}

.image-item img {
    width: 100%;
    height: auto;
}

.text-left {
    font-size: 1rem;
    font-family: 'Libre Caslon Text', serif;
}


/* UI */
#minimize-search {
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 10;
    background-color: transparent;
    border: none;
    width: 24px; /* Add this line to limit the width of the minimize button */
}

.minimize-button {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 2000;
}


.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    height: 100%;
}

.sticky-search.minimized .search-container {
    width: 0;
    overflow: hidden;
    justify-content: flex-end;
}





#theme-toggle #chevron-left-icon {
    fill: var(--text-color);
}

.theme-toggle {
    opacity: 0.8;
}

.theme-toggle:hover {
    opacity: 1;
    transform: scale(1.1);
}



#spinner-container {
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 5%; */
    pointer-events: none;
}
#spinner-text {
    position: absolute;
    text-align: center;
    font-family: 'Libre Caslon Text';
    font-size: 0.875rem;
    color: var(--text-color);
    opacity: 0.8;
}
.custom-spinner {
    border-width: 4px;
    opacity: 0.6;
}

.go-to-top {
    position: fixed;
    bottom: 5px;
    left: 48.5%;
    z-index: 1001;
    opacity: 0.3;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.go-to-top:hover {
    opacity: 1;
    transform: scale(1.1);
}
