/* --accent-color: #FF5C00; */
html[data-theme='light'] {
    --border-color: #ced4da;
    --bg-color: rgb(250, 254, 255);
    --text-color: #141414;
    --accent-color: #007bff;
    --hover-color: #666;
    --transparent-color: rgba(250, 254, 255, 0.7);

    --opposite-border-color: #707070;
    --opposite-bg-color: #141414;
    --opposite-text-color: #FAFEFF;
    --opposite-accent-color: #FF5C00;
    --opposite-hover-color: #999;
    --opposite-transparent-color: rgba(20, 20, 20, 0.7);
}

html[data-theme='dark'] {
    --border-color: #707070;
    --bg-color: #141414;
    --text-color: rgba(250, 254, 255, 0.9);
    --accent-color: #007bff;
    --hover-color: #999;
    --transparent-color: rgba(20, 20, 20, 0.7);

    --opposite-border-color: #ced4da;
    --opposite-bg-color: rgb(250, 254, 255);
    --opposite-text-color: #141414;
    --opposite-accent-color: #FF5C00;
    --opposite-hover-color: #666;
    --opposite-transparent-color: rgba(250, 254, 255, 0.7);
}
